<h3>Investigadores</h3>
<br>
<%= link_to 'Crear nuevo investigador', new_person_path, :class => 'btn btn-info btn-sm' %>
<br><br>

<div class="row">
	<div class="col-6">
		<table>
			<thead>
				<th>Nombre Investigador</th>
				<th>Proyecto</th>
				<th>Research Line</th>
				<th></th>
			</thead>
			
			<% @persons.each do |person| %>
				<tr>
					<td><%= link_to person.completename, person_path(person) %></td>
					<td><%= person.proyecto %></td>
					<td>
						<% person.clusters.each do |cluster| %>
							<%= cluster.name %>, 
						<% end %>
					</td>
					 <td><%= link_to 'Editar', edit_person_path(person) %>
					 	<%= link_to 'Borrar', person_path(person), method: :delete, data: { confirm: "¿Está seguro de borrar al investigador '#{person.completename}'?"} %></td>
				</tr>
			<% end %>
		</table>
	</div>
	<div class="col-6">
		<%= line_chart @products_calles.group(:tipo).group(:registro).count, title: "Productos Proyecto Calles", width: "80%", discrete: true %>
		<br>
		
		<h5>Revistas ISI Proyecto Calles</h5>
		<div style="font-size: 12px">
			<h6><%= temp = 2019 %></h6>
			<% @products_calles.order(registro: :desc).each do |product| %>
				<% if product.registro != temp %>
					<br>
					<% temp -= 1 %>
					<h6><%= temp %></h6>
				<% end %>
				<% if product.tipo == "revista_isi" %>
					<div style="padding-bottom: 3px">
						<strong><i>
						<% if product.respaldos.first != nil %>
							<%= link_to product.titulo, asset_path(product.respaldos.first.file, target: "_blank") %>
						<% else %>
							<%= product.titulo %>
						<% end %>

							</i></strong> | <%= product.revista %> | 
						<% product.persons.each do |person| %>
							<%= link_to person.cedeusname, person_path(person) %>,
						<% end %>
					<br>
					</div>
					
				<% end %>
			<% end %>
		</div>


	</div>
</div>

