<h3>Crear Investigador</h3>


<br>

<%= form_with model: @person, url:persons_path, local: true do |f| %>
	
	<%= f.label :nombre %>: 
	<%= f.text_field :name %><br>

	<%= f.label :apellido %>: 
	<%= f.text_field :surname %><br>

	<%= f.label :ditl %>: 
	<%= f.select :ditl_check, Person.ditl_checks.keys.map { |w| [w.humanize, w] } %><br>

	<%= f.label :proyecto %>: 
	<%= f.select :proyecto, Person.proyectos.keys.map { |w| [w.humanize, w] } %><br>

	<%= f.label :Research_Line_1 %>: 
	<%= f.collection_select :cluster_id_1, @clusters, :id, :name %><br>

	<%= f.label :Research_Line_2 %>: 
	<%= f.collection_select :cluster_id_2, @clusters, :id, :name, :prompt => true %><br>

	<%= f.label :Research_Line_3 %>: 
	<%= f.collection_select :cluster_id_3, @clusters, :id, :name, :prompt => true %><br>

	<br>
	<%= f.submit "Crear/Editar Persona", :class => 'btn btn-dark btn-sm' %>

<% end %>