<h3><%= @person.completename %></h3>
<br>

<div style="font-size: 12px">
	<% @person_tipos.each do |tipos| %>
		<h5><%= tipos.humanize %></h5>
		<% @person.products.each do |product| %>
			<% if product.tipo == tipos and product.registro == 2019 %>
				<% if tipos == "revista_isi" or tipos == "revista_no_isi" %>
					<%= product.registro %> <strong><i>
						<% if product.respaldos.first != nil %>
							<%= link_to product.titulo, asset_path(product.respaldos.first.file, :target => "_blank") %>
						<% else %>
							<%= product.titulo %>
						<% end %>
							
						</i></strong> | <%= product.revista %>
					<br>

				<% elsif tipos == "libro" %>
					<% if product.person_product.where(person_id: @person.id).first.rol == "author" %>
						<%= product.registro %> <strong><%= product.titulo %></strong> | 
						<i><%= product.revista %></i>
						<br>
					<% elsif product.person_product.where(person_id: @person.id).first.rol == "editor" %>
						<%= product.registro %> <strong><i><%= product.titulo %></i></strong> | Editor
						<br>
					<% end %>

				<% elsif tipos == "congreso" %>
					<%= product.registro %> <strong><i><%= product.titulo %></i></strong> | <%= product.congreso %>
					<br>

				<% elsif tipos == "colaboracion" %>
					<%= product.registro %> <strong><i><%= product.titulo %></i></strong> | <%= product.congreso %>
					<br>

				<% elsif tipos == "tesis" %>
					<%= product.inicio %> <strong><i><%= product.titulo %></i></strong> | <%= product.estudiante %> - 
					<i><%= product.etapa.humanize %></i>
					<br>



				<% end %>
			<% end %>
		<% end %>
		<br>
	<% end %>
</diV>


<br>

<%= link_to 'Volver', persons_path, :class => 'btn btn-info btn-sm' %>