<h3>Productividad DITL</h3>
<br><br>

<div class="row">

	<div class="col-12 col-md-3" style="font-size: 12px">
		<strong>Nombre Investigador</strong>
		<ul>
			<% @ditl_people.order(:surname).each do |person| %>
				<li><%= link_to person.completename, ditl_show_path(person) %></li>
			<% end %>
		</ul>
	</div>

	<div class="col-12 col-md-9">
		<h5>Revistas WoS - DITL</h5>
		<div style="font-size: 12px">
			<h6><% temp = 2021 %></h6>
			<% @paper_wos.each do |paper| %>
				<% if paper.registro != temp %>
					<br>
					<% temp -= 1 %>
					<h6><%= temp %></h6>
				<% end %>
				<strong><% if paper.respaldos.first != nil %>
					<%= link_to paper.titulo, asset_path(paper.respaldos.first.file), :target => "_blank" %><br>
				<% else %>
					<%= paper.titulo %>
				<% end %></strong>
				<div class="mb-1">
					<i><%= paper.revista %></i> |
					<% paper.person_product.order(:id).each do |person_prod| %>
						<%= person_prod.person.cedeusname %>,
					<% end %>
				</div>
				

			<% end %>
		</div>
	</div>
</div>

