<%= form_with model: @product, local: true do |f| %>

	<%= f.hidden_field :tipo, value: @tipo %>

	<div class="row">
		<div class="col-12 col-md-6" style="font-size: 12px">

			<% if @tipo == "revista_isi" or @tipo == "revista_no_isi" %>
				
				<div class="row">
					<div class="col-md-2">
						<%= f.label :titulo %>:
					</div>
					<div class="col-md-3">
						<%= f.text_area :titulo, size: "40x2" %>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-2">
						<%= f.label :revista %>: 
					</div>
					<div class="col-md-3">
						<%= f.text_area :revista, size: "40x2" %>
					</div>
				</div>
				<br>

				<div class="row">
					<div class="col-md-2">
						<%= f.label :volumen %>: 
					</div>
					<div class="col-md-4">
						<%= f.text_field :volume %>
					</div>
					<div class="col-md-2">
						<%= f.label :páginas %>: 
					</div>
					<div class="col-md-3">
						<%= f.text_field :pages %>
					</div>
				</div>
				<br>

				<div class="row">
					<div class="col-md-2">
						<%= f.label :DOI %>: 
					</div>
					<div class="col-md-4">
						<%= f.text_field :doi %>
					</div>
					<div class="col-md-2">
						<%= f.label :Año %>: 
					</div>
					<div class="col-md-4">
						<%= f.text_field :year %>
					</div>
				</div>
				<br>

				<div class="row">
					<div class="col-4">
						<p>Participación de:</p>

						<ul>
							<li><%= f.check_box :partresearchers %>
								<%= f.label :Researchers %></li>

							<li><%= f.check_box :partpostdoc %>
								<%= f.label :Postdosc %> </li>

							<li><%= f.check_box :partundergrad %>
								<%= f.label :Undergraduate %> </li>

							<li><%= f.check_box :partgrad %>
								<%= f.label :Graduate %> </li>
						</ul>
					</div>

					<div class="col-6">
						<p>Financiamiento (en porcentaje):</p>
						<div class="row">
							<div class="col-4">
								<%= f.label :Fondap %>: 
							</div>
							<div class="col-2">
								<%= f.number_field :fundfondap, min: 0, max:100 %>
							</div>
							<div class="col-4">
								<%= f.label :Fondecyt %>: 
							</div>
							<div class="col-2">
								<%= f.number_field :fundfondecyt, min: 0, max:100 %>
							</div>
							<div class="col-4">
								<%= f.label :Fondef %>: 
							</div>
							<div class="col-2">
								<%= f.number_field :fundfondef, min: 0, max:100 %>
							</div>
							<div class="col-4">
								<%= f.label :Basal %>: 
							</div>
							<div class="col-2">
								<%= f.number_field :fundbasal, min: 0, max:100 %>
							</div>
							<div class="col-4">
								<%= f.label :ICM %>: 
							</div>
							<div class="col-2">
								<%= f.number_field :fundicm, min: 0, max:100 %>
							</div>
						</div>
						<div class="row">
							<div class="col-4">
								<%= f.label :Other %>: 
							</div>
							<div class="col-2">
								<%= f.number_field :fundother, min: 0, max:100 %>
							</div>
							<div class="col-4">
								<%= f.label :Especify %>: 
							</div>
							<div class="col-2">
								<%= f.text_field :fundspecify %>
							</div>

						</div>
					</div>
				</div>
				<br>

			<% end %>
			<% if  @tipo == "revista_no_isi" %>
				<div class="row">
					<div class="col-md-2">
						<%= f.label :Indexación %>:
					</div>
					<div class="col-md-3">
						<%= f.text_field :indexacion %>
					</div>
				</div>
			<% end %>

			<% if  @tipo == "libro" %>
				<div class="row">
					<div class="col-md-3">
						<%= f.label :Título_Libro %>:
					</div>
					<div class="col-md-3">
						<%= f.text_area :revista, size: "40x2" %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<%= f.label :Título_Capítulo %>:
					</div>
					<div class="col-md-3">
						<%= f.text_area :titulo, size: "40x2" %>
					</div>
				</div><br>
				<div class="row">
					<div class="col-md-3">
						<%= f.label :páginas %>: 
					</div>
					<div class="col-md-4">
						<%= f.text_field :pages %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<%= f.label :Año %>: 
					</div>
					<div class="col-md-3">
						<%= f.text_field :year %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<%= f.label :Editorial_ciudad_país %>:
					</div>
					<div class="col-md-3">
						<%= f.text_field :editorial, size: "42" %>
					</div>
				</div>
			
			<% elsif  @tipo == "congreso" %>
				<div class="row">
					<div class="col-md-3">
						<%= f.label :Tipo_de_actividad %>:
					</div>
					<div class="col-md-3">
						<%= f.select :tipocongreso, Product.tipocongresos.keys.map { |w| [w.humanize, w] } %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<%= f.label :Nombre_Congreso %>:
					</div>
					<div class="col-md-3">
						<%= f.text_area :congreso, size: "40x2" %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<%= f.label :Título_Ponencia %>:
					</div>
					<div class="col-md-3">
						<%= f.text_area :titulo, size: "40x2" %>
					</div>
				</div><br>
				<div class="row">
					<div class="col-md-3">
						<%= f.label :Ciudad_y_País %>: 
					</div>
					<div class="col-md-4">
						<%= f.text_field :lugar %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<%= f.label :Fecha %>: 
					</div>
					<div class="col-md-3">
						<%= f.text_field :year %>
					</div>
				</div><br>
				<div class="row">
					<div class="col-4">
						<p>Participación de:</p>

						<ul>
							<li><%= f.check_box :partresearchers %>
								<%= f.label :Researchers %></li>

							<li><%= f.check_box :partpostdoc %>
								<%= f.label :Postdosc %> </li>

							<li><%= f.check_box :partundergrad %>
								<%= f.label :Undergraduate %> </li>

							<li><%= f.check_box :partgrad %>
								<%= f.label :Graduate %> </li>
						</ul>
					</div>
				</div>
				

			<% elsif  @tipo == "organizacion" %>
				<div class="row">
					<div class="col-md-3">
						<%= f.label :Tipo_de_actividad %>:
					</div>
					<div class="col-md-3">
						<%= f.select :tipoorganizacion, Product.tipoorganizacions.keys.map { |w| [w.humanize, w] } %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<%= f.label :Nombre_Congreso %>:
					</div>
					<div class="col-md-3">
						<%= f.text_area :titulo, size: "40x2" %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<%= f.label :Nº_participantes %>:
					</div>
					<div class="col-md-3">
						<%= f.number_field :numpart %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<%= f.label :Ciudad_y_País %>: 
					</div>
					<div class="col-md-4">
						<%= f.text_field :lugar %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<%= f.label :Fecha %>: 
					</div>
					<div class="col-md-3">
						<%= f.text_field :year %>
					</div>
				</div><br>

			<% elsif  @tipo == "colaboracion" %>
				<div class="row">
					<div class="col-md-4">
						<%= f.label :Tipo_de_actividad %>:
					</div>
					<div class="col-md-3">
						<%= f.select :tipocolaboracion, Product.tipocolaboracions.keys.map { |w| [w.humanize, w] } %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<%= f.label :País_origen_o_destino %>:
					</div>
					<div class="col-md-3">
						<%= f.text_field :lugar, size: 40 %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<%= f.label :Institución %>:
					</div>
					<div class="col-md-3">
						<%= f.text_field :institution, size: 40 %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<%= f.label :Fecha_de_inicio_y_termino %>: 
					</div>
					<div class="col-md-4">
						<%= f.text_field :year, size: 40 %>
					</div>
				</div>
				<br>

			<% elsif  @tipo == "tesis" %>
				<div class="row">
					<div class="col-md-4">
						<%= f.label :Etapa %>:
					</div>
					<div class="col-md-3">
						<%= f.select :etapa, Product.etapas.keys.map { |w| [w.humanize, w] } %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<%= f.label :Nombre_Estudiante %>:
					</div>
					<div class="col-md-3">
						<%= f.text_field :estudiante, size: 40 %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<%= f.label :RUT %>:
					</div>
					<div class="col-md-3">
						<%= f.text_field :rut %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<%= f.label :Género %>: 
					</div>
					<div class="col-md-3">
						<%= f.select :genero, Product.generos.keys.map { |w| [w.humanize, w] } %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<%= f.label :Título_tesis %>: 
					</div>
					<div class="col-md-3">
						<%= f.text_area :titulo, size: "40x2" %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<%= f.label :grado %>:
					</div>
					<div class="col-md-3">
						<%= f.select :grado, Product.grados.keys.map { |w| [w.humanize, w] } %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<%= f.label :Institución %>:
					</div>
					<div class="col-md-3">
						<%= f.text_field :institution, size: 40 %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<%= f.label :Año_inicio_programa %>:
					</div>
					<div class="col-md-3">
						<%= f.text_field :year %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<%= f.label :Año_inicio_tesis %>:
					</div>
					<div class="col-md-3">
						<%= f.text_field :inicio %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<%= f.label :Año_finaliza_tesis %>:
					</div>
					<div class="col-md-3">
						<%= f.text_field :termino %>
					</div>
				</div>

				<br>
			<% end %>

			<br>

		</div>


		<% if @tipo == "revista_isi" or @tipo == "revista_no_isi" %>

			<div class="col-12 col-md-6" style="font-size: 12px">
			
				<%= f.label :autor_1 %>: 
				<%= f.collection_select :person_id_1, @persons, :id, :name, prompt: @person_array[0], selected: @person_id_array[0] %> 
				<%= f.select :contact_1, PersonProduct.contacts.keys.map { |w| [w.humanize, w] }, prompt: @contact_array[0], selected: @contact_array[0] %> 
				<%= link_to "Borrar autor", person_product_path(PersonProduct.where(product_id: @product.id,person_id: @person_id_array[0]).first.id), method: :delete if @person_id_array[0] != nil %>

				<br>
				<%= f.label :autor_2 %>: 
				<%= f.collection_select :person_id_2, @persons, :id, :name, prompt: @person_array[1], selected: @person_id_array[1] %>
				<%= f.select :contact_2, PersonProduct.contacts.keys.map { |w| [w.humanize, w] }, prompt: @contact_array[1], selected: @contact_array[1] %> 
				<%= link_to "Borrar autor", person_product_path(PersonProduct.where(product_id: @product.id,person_id: @person_id_array[1]).first.id), method: :delete if @person_id_array[1] != nil %>

				<br>
				<%= f.label :autor_3 %>: 
				<%= f.collection_select :person_id_3, @persons, :id, :name, prompt: @person_array[2], selected:@person_id_array[2] %>
				<%= f.select :contact_3, PersonProduct.contacts.keys.map { |w| [w.humanize, w] }, prompt: @contact_array[2], selected: @contact_array[2] %> 
				<%= link_to "Borrar autor", person_product_path(PersonProduct.where(product_id: @product.id,person_id: @person_id_array[2]).first.id), method: :delete if @person_id_array[2] != nil %>

				<br>
				<%= f.label :autor_4 %>: 
				<%= f.collection_select :person_id_4, @persons, :id, :name, prompt: @person_array[3], selected: @person_id_array[3] %>
				<%= f.select :contact_4, PersonProduct.contacts.keys.map { |w| [w.humanize, w] }, prompt: @contact_array[3], selected: @contact_array[3] %>
				<%= link_to "Borrar autor", person_product_path(PersonProduct.where(product_id: @product.id,person_id: @person_id_array[3]).first.id), method: :delete if @person_id_array[3] != nil %>

				<br>
				<%= f.label :autor_5 %>: 
				<%= f.collection_select :person_id_5, @persons, :id, :name, prompt: @person_array[4], selected: @person_id_array[4] %>
				<%= f.select :contact_5, PersonProduct.contacts.keys.map { |w| [w.humanize, w] }, prompt: @contact_array[4], selected: @contact_array[4] %>
				<%= link_to "Borrar autor", person_product_path(PersonProduct.where(product_id: @product.id,person_id: @person_id_array[4]).first.id), method: :delete if @person_id_array[4] != nil %>

				<br>
				<%= f.label :autor_6 %>: 
				<%= f.collection_select :person_id_6, @persons, :id, :name, prompt: @person_array[5], selected: @person_id_array[5] %>
				<%= f.select :contact_6, PersonProduct.contacts.keys.map { |w| [w.humanize, w] }, prompt: @contact_array[5], selected: @contact_array[5] %>
				<%= link_to "Borrar autor", person_product_path(PersonProduct.where(product_id: @product.id,person_id: @person_id_array[5]).first.id), method: :delete if @person_id_array[5] != nil %>

				<br>
				<%= f.label :autor_7 %>: 
				<%= f.collection_select :person_id_7, @persons, :id, :name, prompt: @person_array[6], selected: @person_id_array[6] %>
				<%= f.select :contact_7, PersonProduct.contacts.keys.map { |w| [w.humanize, w] }, prompt: @contact_array[6], selected: @contact_array[6] %>
				<%= link_to "Borrar autor", person_product_path(PersonProduct.where(product_id: @product.id,person_id: @person_id_array[6]).first.id), method: :delete if @person_id_array[6] != nil %>

				<br>
				<%= f.label :autor_8 %>: 
				<%= f.collection_select :person_id_8, @persons, :id, :name, prompt: @person_array[7], selected: @person_id_array[7] %>
				<%= f.select :contact_8, PersonProduct.contacts.keys.map { |w| [w.humanize, w] }, prompt: @contact_array[7], selected: @contact_array[7] %>
				<%= link_to "Borrar autor", person_product_path(PersonProduct.where(product_id: @product.id,person_id: @person_id_array[7]).first.id), method: :delete if @person_id_array[7] != nil %>

				<br>
			</div>
		<% elsif @tipo == "libro" %>

			<div class="col-12 col-md-6" style="font-size: 12px">
			
				<%= f.label :autor_1 %>: 
				<%= f.collection_select :person_id_1, @persons, :id, :name, prompt: @person_array[0], selected: @person_id_array[0] %> 
				<%= f.select :rol_1, PersonProduct.rols.keys.map { |w| [w.humanize, w] }, prompt: @rol_array[0], selected: @rol_array[0] %>
				<%= link_to "Borrar autor", person_product_path(PersonProduct.where(product_id: @product.id,person_id: @person_id_array[0]).first.id), method: :delete if @person_id_array[0] != nil %>

				<br>
				<%= f.label :autor_2 %>: 
				<%= f.collection_select :person_id_2, @persons, :id, :name, prompt: @person_array[1], selected: @person_id_array[1] %>
				<%= f.select :rol_2, PersonProduct.rols.keys.map { |w| [w.humanize, w] }, prompt: @rol_array[1], selected: @rol_array[1] %>
				<%= link_to "Borrar autor", person_product_path(PersonProduct.where(product_id: @product.id,person_id: @person_id_array[1]).first.id), method: :delete if @person_id_array[1] != nil %>

				<br>
				<%= f.label :autor_3 %>: 
				<%= f.collection_select :person_id_3, @persons, :id, :name, prompt: @person_array[2], selected:@person_id_array[2] %>
				<%= f.select :rol_3, PersonProduct.rols.keys.map { |w| [w.humanize, w] }, prompt: @rol_array[2], selected: @rol_array[2] %>
				<%= link_to "Borrar autor", person_product_path(PersonProduct.where(product_id: @product.id,person_id: @person_id_array[2]).first.id), method: :delete if @person_id_array[2] != nil %>

				<br>
				<%= f.label :autor_4 %>: 
				<%= f.collection_select :person_id_4, @persons, :id, :name, prompt: @person_array[3], selected: @person_id_array[3] %>
				<%= f.select :rol_4, PersonProduct.rols.keys.map { |w| [w.humanize, w] }, prompt: @rol_array[3], selected: @rol_array[3] %>
				<%= link_to "Borrar autor", person_product_path(PersonProduct.where(product_id: @product.id,person_id: @person_id_array[3]).first.id), method: :delete if @person_id_array[3] != nil %>

				<br>
				<%= f.label :autor_5 %>: 
				<%= f.collection_select :person_id_5, @persons, :id, :name, prompt: @person_array[4], selected: @person_id_array[4] %>
				<%= f.select :rol_5, PersonProduct.rols.keys.map { |w| [w.humanize, w] }, prompt: @rol_array[4], selected: @rol_array[4] %>
				<%= link_to "Borrar autor", person_product_path(PersonProduct.where(product_id: @product.id,person_id: @person_id_array[4]).first.id), method: :delete if @person_id_array[4] != nil %>

				<br>
				<%= f.label :autor_6 %>: 
				<%= f.collection_select :person_id_6, @persons, :id, :name, prompt: @person_array[5], selected: @person_id_array[5] %>
				<%= f.select :rol_6, PersonProduct.rols.keys.map { |w| [w.humanize, w] }, prompt: @rol_array[5], selected: @rol_array[5] %>
				<%= link_to "Borrar autor", person_product_path(PersonProduct.where(product_id: @product.id,person_id: @person_id_array[5]).first.id), method: :delete if @person_id_array[5] != nil %>

				<br>
				<%= f.label :autor_7 %>: 
				<%= f.collection_select :person_id_7, @persons, :id, :name, prompt: @person_array[6], selected: @person_id_array[6] %>
				<%= f.select :rol_7, PersonProduct.rols.keys.map { |w| [w.humanize, w] }, prompt: @rol_array[6], selected: @rol_array[6] %>
				<%= link_to "Borrar autor", person_product_path(PersonProduct.where(product_id: @product.id,person_id: @person_id_array[6]).first.id), method: :delete if @person_id_array[6] != nil %>

				<br>
				<%= f.label :autor_8 %>: 
				<%= f.collection_select :person_id_8, @persons, :id, :name, prompt: @person_array[7], selected: @person_id_array[7] %>
				<%= f.select :rol_8, PersonProduct.rols.keys.map { |w| [w.humanize, w] }, prompt: @rol_array[7], selected: @rol_array[7] %>
				<%= link_to "Borrar autor", person_product_path(PersonProduct.where(product_id: @product.id,person_id: @person_id_array[7]).first.id), method: :delete if @person_id_array[7] != nil %>

				<br>
			</div>

		<% elsif @tipo == "congreso" or @tipo == "colaboracion" or @tipo == "tesis" %>

			<div class="col-12 col-md-6" style="font-size: 12px">
				<% if @tipo == 'tesis' %>
					<h6>Profesores Guías</h6><br>
				<% end %>

				<%= f.label :autor_1 %>: 
				<%= f.collection_select :person_id_1, @persons, :id, :name, prompt: @person_array[0], selected: @person_id_array[0] %> 
				<%= link_to "Borrar autor", person_product_path(PersonProduct.where(product_id: @product.id,person_id: @person_id_array[0]).first.id), method: :delete if @person_id_array[0] != nil %>

				<br>
				<%= f.label :autor_2 %>: 
				<%= f.collection_select :person_id_2, @persons, :id, :name, prompt: @person_array[1], selected: @person_id_array[1] %>
				<%= link_to "Borrar autor", person_product_path(PersonProduct.where(product_id: @product.id,person_id: @person_id_array[1]).first.id), method: :delete if @person_id_array[1] != nil %>

				<br>
				<%= f.label :autor_3 %>: 
				<%= f.collection_select :person_id_3, @persons, :id, :name, prompt: @person_array[2], selected:@person_id_array[2] %>
				<%= link_to "Borrar autor", person_product_path(PersonProduct.where(product_id: @product.id,person_id: @person_id_array[2]).first.id), method: :delete if @person_id_array[2] != nil %>

				<br>
				<%= f.label :autor_4 %>: 
				<%= f.collection_select :person_id_4, @persons, :id, :name, prompt: @person_array[3], selected: @person_id_array[3] %>
				<%= link_to "Borrar autor", person_product_path(PersonProduct.where(product_id: @product.id,person_id: @person_id_array[3]).first.id), method: :delete if @person_id_array[3] != nil %>

				<br>
				<%= f.label :autor_5 %>: 
				<%= f.collection_select :person_id_5, @persons, :id, :name, prompt: @person_array[4], selected: @person_id_array[4] %>
				<%= link_to "Borrar autor", person_product_path(PersonProduct.where(product_id: @product.id,person_id: @person_id_array[4]).first.id), method: :delete if @person_id_array[4] != nil %>

				<br>
				<%= f.label :autor_6 %>: 
				<%= f.collection_select :person_id_6, @persons, :id, :name, prompt: @person_array[5], selected: @person_id_array[5] %>
				<%= link_to "Borrar autor", person_product_path(PersonProduct.where(product_id: @product.id,person_id: @person_id_array[5]).first.id), method: :delete if @person_id_array[5] != nil %>

				<br>
				<%= f.label :autor_7 %>: 
				<%= f.collection_select :person_id_7, @persons, :id, :name, prompt: @person_array[6], selected: @person_id_array[6] %>
				<%= link_to "Borrar autor", person_product_path(PersonProduct.where(product_id: @product.id,person_id: @person_id_array[6]).first.id), method: :delete if @person_id_array[6] != nil %>

				<br>
				<%= f.label :autor_8 %>: 
				<%= f.collection_select :person_id_8, @persons, :id, :name, prompt: @person_array[7], selected: @person_id_array[7] %>
				<%= link_to "Borrar autor", person_product_path(PersonProduct.where(product_id: @product.id,person_id: @person_id_array[7]).first.id), method: :delete if @person_id_array[7] != nil %>

				<br>
			</div>
		<% end %>

	</div>
	<br>
	<div style="font-size: 12px">
		<p>Respaldos:</p>
		<% @product.respaldos.each_with_index do |respaldo,i| %>
			<ul>
				<li><%= link_to "Respaldo #{i+1}", asset_path(respaldo.file), :target => '_blank' %> | 
					<%= link_to "Borrar respaldo", respaldo_path(respaldo.id), method: :delete %>
				</li>
			</ul>
		<% end %><br>
		<%= f.label :Agregar_Respaldo %>: 
		<%= f.file_field :file %><br>

	</div>
	<br><br>
	
	<%= f.submit "Crear Producto", :class => 'btn btn-dark' %>

<% end %>
