<h5>Revistas ISI</h5>

<br>
<table>
	<tr>
		<th rowspan="2">Autores</th>
		<th rowspan="2">Cluster</th>
		<th rowspan="2">DOI</th>
		<th rowspan="2">Título</th>
		<th rowspan="2">Revista</th>
		<th rowspan="2">Volumen</th>
		<th rowspan="2">Páginas</th>
		<th rowspan="2">Año</th>
		<th colspan="4" style="text-align: center">Participation</th>
		<th colspan="7" style="text-align: center">Funding</th>
		<th rowspan="2">Respaldo</th>
	</tr>
	<tr>
		<th class="vertical">Researcher</th>
		<th class="vertical">Postdoc</th>
		<th class="vertical">Undergrad</th>
		<th class="vertical">Grad</th>

		<th class="vertical">Fondap</th>
		<th class="vertical">Fondecyt</th>
		<th class="vertical">Fondef</th>
		<th class="vertical">Basal</th>
		<th class="vertical">ICM</th>
		<th class="vertical">Other</th>
		<th class="vertical">Specify</th>
		<th></th>
	</tr>

	<% @products.each do |product| %>
		<% @temp = [] %>
		<% if product.tipo == "revista_isi" %>
			<tr>
				<td>
					<% product.persons.each do |person| %>
						<%= person.name %>
						<% t = product.person_product.where(person_id: person.id).first.contact_before_type_cast %>
						<sup><%= t if t > 0 %></sup>,
						<% person.clusters.each do |cluster| %>
							<% if cluster.name != "Sin cluster" %>
								<% @temp << cluster.name %>
							<% end %>
						<% end %> 
					<% end %>
				</td>
				<td>
					<% @temp.uniq.each do |i| %>
						<%= i %>/ 
					<% end %>
				</td>
				<td><%= product.doi %></td>
				<td><%= product.titulo %></td>
				<td><%= product.revista %> </td>
				<td><%= product.volume %></td>
				<td><%= product.pages %></td>
				<td><%= product.year %></td>
				<td><%= boolean01(product.partresearchers) %></td>
				<td><%= boolean01(product.partpostdoc) %></td>
				<td><%= boolean01(product.partundergrad) %></td>
				<td><%= boolean01(product.partgrad) %></td>
				<td><%= product.fundfondap %></td>
				<td><%= product.fundfondecyt %></td>
				<td><%= product.fundfondef %></td>
				<td><%= product.fundbasal %></td>
				<td><%= product.fundicm %></td>
				<td><%= product.fundother %></td>
				<td><%= product.fundspecify %></td>
				<td>
					<% if product.file? %>
						<%= link_to 'Respaldo', asset_path(product.file), :target => '_blank' %>
					<% else %>
						Pendiente
					<% end %>		
				</td>

				<td><%= link_to 'editar', edit_product_path(product.id, :tipo => product.tipo) %>
					<%= link_to 'borrar', product_path(product), method: :delete %></td>

			</tr>
		<% end %>
	<% end %>

</table>
<br>

