<h5>Participación en Congresos</h5>

<table>
	<tr>
		<th class="vertical">Periodo</th>
		<th>Tipo de Actividad</th>
		<th>Nombre Congreso</th>
		<th>Título Ponencia</th>
		<th>Participantes</th>
		<th>Ciudad/País</th>
		<th>Fecha</th>
		<th>Afiliación</th>
		<th>Respaldo</th>
	</tr>

	<% @products.each do |product| %>
		<% @persona = [] %>
		<% if product.tipo == "congreso" %>
			
			<% product.person_product.order(:id).each do |person_prod| %>
				<% @par = [] %>
				<% @par << person_prod.person.cedeusname %>
				<% @par << person_prod.contact_before_type_cast %>
				<% @persona << @par %>
			<% end %>

			<tr>
				<td><strong><%= product.registro %></strong></td>
				<td><%= product.tipocongreso_before_type_cast %></td>
				<td style="max-width:250px"><i><%= product.congreso %> </i></td>
				<td style="width: 300px"><strong><%= product.titulo %></strong></td>

				<td style="width:240px; color:darkcyan"><% @persona.each do |i| %>
						<%= i[0] %>
						<% if i[1].to_i > 0 and i[1].to_i < 4 %>
							(<i><%= PersonProduct.contacts.key(i[1]) %></i>)
						<% end %>,
					<% end %>
					<%= product.otros_autores %>						
				</td>

				<td><%= product.lugar %></td>
				<td><%= product.year %></td>
				<td style="text-align: center; width:169px">
					<strong><%= image_tag("4_ing_ditl.png", style: "height:45%") if product.ditl_check %>
					<%= image_tag("3_brt.png", style: "height:45%") if product.brt_check  %>
					<%= image_tag("2_cedeus_am.png", style: "height:45%") if product.cedeus_check %>
					<%= image_tag("1_cedeus_calles.png", style: "height:45%", title: "cedeus_calles") if product.cedeuscalles_check %></strong>
				</td>

				<td>
					<% product.respaldos.each_with_index do |respaldo,i| %>
						<%= link_to "Respaldo #{i+1}", asset_path(respaldo.file), :target => '_blank' %>
					<% end %>
				</td>

				<td><%= link_to 'editar', edit_product_path(product.id, :tipo => product.tipo) %>
					<%= link_to 'borrar', product_path(product), method: :delete, data: { confirm: "¿Está seguro de borrar el artículo '#{product.titulo}'?"} %></td>

			</tr>
		<% end %>
	<% end %>

</table>
<br>

