<h5>Fuentes de Financiamiento</h5>

<table>
	<tr>
		<th class="vertical">Periodo</th>
		<th>Fuente de Fondos</th>
		<th>Investigadores</th>
		<th>Año de Inicio</th>
		<th>Año de Término</th>
		<th>Monto</th>
		<th>Afiliación</th>
		<th>Respaldo</th>
	</tr>

	<% @products.each do |product| %>
		<% if product.tipo == "financiamiento" %>

			<% @person = [] %>
			<% product.person_product.order(:id).each do |person_prod| %>
				<% @person << person_prod.person.cedeusname %>
			<% end %>
			
			<tr>
				<td><strong><%= product.registro %></strong></td>
				<td><%= product.titulo %></td>
				
				<td style="width:140px; color:darkcyan">
					<% @person.each_with_index do |i,index| %>
						<% if index < @person.length - 1 %>
							<%= link_to i, person_path(Person.find_by cedeusname: i) %>,
						<% else %>
							<%= link_to i, person_path(Person.find_by cedeusname: i) %>
						<% end %>
					<% end %>
				</td>

				<td><%= product.inicio %></td>
				<td><%= product.termino %></td>
				<td><%= number_to_currency(product.monto, strip_insignificant_zeros: true) %></td>
				<td style="text-align: center; width:169px">
					<strong><%= image_tag("4_ing_ditl.png", style: "height:45%") if product.ditl_check %>
					<%= image_tag("3_brt.png", style: "height:45%") if product.brt_check  %>
					<%= image_tag("2_cedeus_am.png", style: "height:45%") if product.cedeus_check %>
					<%= image_tag("1_cedeus_calles.png", style: "height:45%", title: "cedeus_calles") if product.cedeuscalles_check %></strong>
				</td>

				<td>
					<% product.respaldos.each_with_index do |respaldo,i| %>
						<%= link_to "Respaldo #{i+1}", asset_path(respaldo.file), :target => '_blank' %>
					<% end %>
				</td>

				<td><%= link_to 'editar', edit_product_path(product.id, :tipo => product.tipo) %>
					<%= link_to 'borrar', product_path(product), method: :delete, data: { confirm: "¿Está seguro de borrar el financiamiento '#{product.titulo}'?"} %></td>

			</tr>
		<% end %>
	<% end %>

</table>
<br>

