<h5>Organización de Congresos</h5>

<table>
	<tr>
		<th class="vertical">Periodo</th>
		<th>Tipo de Actividad</th>
		<th>Research Line</th>
		<th>Nombre Actividad</th>
		<th>Número de Participantes</th>
		<th>Ciudad/País</th>
		<th>Fecha</th>
		<th>Afiliación</th>
		<th>Respaldo</th>
	</tr>

	<% @products.each do |product| %>
		<% @clust = [] %>
		<% @persona = [] %>
		<% if product.tipo == "organizacion" %>
			
			<% product.persons.each do |person| %>

				<% person.clusters.each do |cluster| %>	
					<% if cluster.name != "Sin Cluster" %>
						<% @clust << cluster.name %>
					<% end %>
				<% end %>
				<% @persona << person.name %>
			<% end %>

			<tr>
				<td><strong><%= product.registro %></strong></td>
				<td><%= product.tipoorganizacion_before_type_cast %></td>
				<td><% if product.cluster != nil %>
						<%= product.cluster.name %>
					<% end %>
					</td>
				<td><%= product.titulo %></td>
				<td><%= product.numpart %></td>
				<td><%= product.year %></td>
				<td><%= product.lugar %></td>
				<td>
					<strong><%= "DITL" if product.ditl_check %>
					<%= "BRT+" if product.brt_check  %>
					<%= "CEDEUS(A&M)" if product.cedeus_check %>
					<%= "CEDEUS_CALLES" if product.cedeuscalles_check %></strong>
				</td>

				<td>
					<% product.respaldos.each_with_index do |respaldo,i| %>
						<%= link_to "Respaldo #{i+1}", asset_path(respaldo.file), :target => '_blank' %>
					<% end %>
				</td>

				<td><%= link_to 'editar', edit_product_path(product.id, :tipo => product.tipo) %>
					<%= link_to 'borrar', product_path(product), method: :delete, data: { confirm: "¿Está seguro de borrar la actividad '#{product.titulo}'?"} %></td>

			</tr>
		<% end %>
	<% end %>

</table>
<br>

