<h5>Libros y Capítulos de Libro</h5>

<table>
	<thead>
		<th>Autores</th>
		<th>Editores</th>
		<th>Cluster</th>
		<th>Título Libro</th>
		<th>Título Capítulo</th>
		<th>Páginas</th>
		<th>Editorial Ciudad/País</th>
		<th>Año</th>
		<th>Respaldo</th>
		<th></th>
	</thead>

	<% @products.each do |product| %>
		<% if product.tipo == "libro" %>
			<tr>
				<td>
					<% product.persons.each do |person| %>
						<%= person.name %>,
						<% person.clusters.each do |cluster| %>
							<% if cluster.name != "Sin cluster" %>
								<% @temp << cluster.name %>
							<% end %>
						<% end %> 
					<% end %>
				</td>
				<td>
			
				</td>

				<td>
					<% @temp.uniq.each do |i| %>
						<%= i %>/ 
					<% end %>
				</td>
				<td><%= product.revista %> </td>
				<td><%= product.titulo %></td>
				<td><%= product.pages %></td>
				<td><%= product.editorial %></td>
				<td><%= product.year %></td>
				<td>
					<% if product.file? %>
						<%= link_to 'Respaldo', asset_path(product.file), :target => '_blank' %>
					<% else %>
						Pendiente
					<% end %>		
				</td>

				<td><%= link_to 'editar', edit_product_path(product.id, :tipo => product.tipo) %>
					<%= link_to 'borrar', product_path(product), method: :delete %></td>

			</tr>
		<% end %>
	<% end %>

</table>
<br>

