<h5>Revistas No ISI</h5>

<table>
	<tr>
		<th class="vertical">Periodo</th>
		<th>Autores</th>
		<th width="110px">DOI</th>
		<th>Título</th>
		<th>Revista</th>
		<th>Volumen</th>
		<th>Páginas</th>
		<th>Año</th>
		<th>Otra indexación</th>
		<th>Afiliación</th>
		<th>Respaldo</th>
	</tr>

	<% @products.each do |product| %>
		<% @person = [] %>

		<% if product.tipo == "revista_no_isi" %>
			
			<% product.person_product.order(:id).each do |person_prod| %>
				<% @person << person_prod.person.cedeusname %>
			<% end %>

			<tr>
				<td><%= product.registro %></td>
				</td>
				<td style="width:120px; color:darkcyan">
					<% @person.each do |i| %>
						<%= i %>, 
					<% end %>
				</td>
				<td style="max-width:70px;word-wrap: break-word"><%= product.doi %></td>
				<td style="width:350px;"><strong><%= product.titulo %></strong></td>
				<td><i><%= product.revista %></i></td>
				<td><%= product.volume %></td>
				<td><%= product.pages %></td>
				<td><%= product.year %></td>
				<td><%= product.indexacion %></td>
				<td style="text-align: center">
					<strong><%= image_tag("4_ing_ditl.png", style: "height:50%") if product.ditl_check %>
					<%= image_tag("3_brt.png", style: "height:50%") if product.brt_check  %>
					<%= image_tag("2_cedeus_am.png", style: "height:50%") if product.cedeus_check %>
					<%= image_tag("1_cedeus_calles.png", style: "height:50%", title: "cedeus_calles") if product.cedeuscalles_check %></strong>
				</td>
				<td>
					<% product.respaldos.each_with_index do |respaldo,i| %>
						<%= link_to "Respaldo #{i+1}", asset_path(respaldo.file), :target => '_blank' %>
					<% end %>
				</td>

				<td><%= link_to 'editar', edit_product_path(product.id, :tipo => product.tipo) %>
					<%= link_to 'borrar', product_path(product), method: :delete, data: { confirm: "¿Está seguro de borrar el artículo '#{product.titulo}'?" } %></td>

			</tr>
		<% end %>
	<% end %>

</table>
<br>

