<h5>Libros y Capítulos de Libro</h5>

<table>
	<tr>
		<th rowspan="2">Periodo</th>
		<th rowspan="2">Research Line</th>
		<th rowspan="2">Autores</th>
		<th rowspan="2">Editores</th>
		<th rowspan="2">Título Libro</th>
		<th rowspan="2">Título Capítulo</th>
		<th rowspan="2">Páginas</th>
		<th rowspan="2">Editorial Ciudad/País</th>
		<th rowspan="2">Año</th>
		<th colspan="3" style="text-align: center">Afiliación</th>
		<th rowspan="2">Respaldo</th>
	</tr>
	<tr>
		<th class="vertical" style="max-width: 22px">DTIL</th>
		<th class="vertical" style="max-width: 22px">BRT+</th>
		<th class="vertical" style="max-width: 22px">CEDEUS</th>

	</tr>

	<% @products.each do |product| %>
		<% @temp = [] %>
		<% @autores = [] %>
		<% @editores = [] %>
		<% if product.tipo == "libro" %>
	
			<% product.person_product.order(:id).each do |person_prod| %>
				<% person_prod.person.clusters.each do |cluster| %>
					<% if cluster.name != "Sin Cluster" %>
						<% @temp << cluster.name %>
					<% end %>
				<% end %> 
				<% if person_prod.person.person_product.where(product_id: product).first.rol == "author" %>
					<% @autores << person_prod.person.cedeusname %>
					<% @autores << ", " %>
				<% else %>
					<% @editores << person_prod.person.cedeusname %>
					<% @editores << ", " %>
				<% end %>
			<% end %>

			<tr>
				<td><strong><%= product.registro %></strong></td>
				<td>
					<% @temp.uniq.each do |i| %>
						<%= i %>/ 
					<% end %>
				</td>
			
				<td>
					<% @autores.each do |i| %>
						<%= i %>
					<% end %>
				</td>
				<td>
					<% @editores.each do |i| %>
						<%= i %>
					<% end %>
				</td>
				<td><%= product.revista %> </td>
				<td><%= product.titulo %></td>
				<td><%= product.pages %></td>
				<td><%= product.editorial %></td>
				<td><%= product.year %></td>
				<td><%= boolean01(product.ditl_check) %></td>
				<td><%= boolean01(product.brt_check) %></td>
				<td><%= boolean01(product.cedeus_check) %></td>
				<td>
					<% product.respaldos.each_with_index do |respaldo,i| %>
						<%= link_to "Respaldo #{i+1}", asset_path(respaldo.file), :target => '_blank' %>
					<% end %>
				</td>

				<td><%= link_to 'editar', edit_product_path(product.id, :tipo => product.tipo) %>
					<%= link_to 'borrar', product_path(product), method: :delete, data: { confirm: "¿Está seguro de borrar el registro '#{product.titulo}'?"} %></td>

			</tr>
		<% end %>
	<% end %>

</table>
<br>

