<h5>Libros y Capítulos de Libro</h5>

<table>
	<thead>
		<th>Cluster</th>
		<th>Autores</th>
		<th>Editores</th>
		<th>Título Libro</th>
		<th>Título Capítulo</th>
		<th>Páginas</th>
		<th>Editorial Ciudad/País</th>
		<th>Año</th>
		<th>Respaldo</th>
	</thead>

	<% @products.each do |product| %>
		<% @temp = [] %>
		<% @autores = [] %>
		<% @editores = [] %>
		<% if product.tipo == "libro" %>
	
			<% product.persons.each do |person| %>
				<% person.clusters.each do |cluster| %>
					<% if cluster.name != "Sin Cluster" %>
						<% @temp << cluster.name %>
					<% end %>
				<% end %> 
				<% if person.person_product.where(product_id: product).first.rol == "author" %>
					<% @autores << person.cedeusname %>
					<% @autores << ", " %>
				<% else %>
					<% @editores << person.cedeusname %>
					<% @editores << ", " %>
				<% end %>
			<% end %>

			<tr>
				<td>
					<% @temp.uniq.each do |i| %>
						<%= i %>/ 
					<% end %>
				</td>
			
				<td>
					<% @autores.each do |i| %>
						<%= i %>
					<% end %>
				</td>
				<td>
					<% @editores.each do |i| %>
						<%= i %>
					<% end %>
				</td>
				<td><%= product.revista %> </td>
				<td><%= product.titulo %></td>
				<td><%= product.pages %></td>
				<td><%= product.editorial %></td>
				<td><%= product.year %></td>
				<td>
					<% product.respaldos.each_with_index do |respaldo,i| %>
						<%= link_to "Respaldo #{i+1}", asset_path(respaldo.file), :target => '_blank' %>
					<% end %>
				</td>

				<td><%= link_to 'editar', edit_product_path(product.id, :tipo => product.tipo) %>
					<%= link_to 'borrar', product_path(product), method: :delete %></td>

			</tr>
		<% end %>
	<% end %>

</table>
<br>

